<ion-view view-title="Sigma Template - MF with Cordova">
  <ion-content class="padding">
    <br/>
    <br/>

    <h4>Try these plugins</h4>
    <!--<button class="button" ng-click="vm.clickMe()">Click me</button>-->
    <!--<button class="button" ng-click="vm.vibrate()">Vibrate</button>
    <button class="button" ng-click="vm.getPicture()">Get picture</button>
    <button class="button" ng-click="vm.barcode()">Barcode</button>-->

    <md-button class="md-raised" ng-click="vm.clickMe()">Click me</md-button>
    <md-button class="md-raised" ng-click="vm.vibrate()">Vibrate</md-button>
    <md-button class="md-raised" ng-click="vm.getPicture()">Camera</md-button>
    <md-button class="md-raised" ng-click="vm.barcode()">Barcode</md-button>

    <h2 ng-show="vm.text">Text : {{vm.text}}</h2>
    <img id="image"/>
  </ion-content>
</ion-view>
